<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="hhtp://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>BuraSowa Company</title>
</head>
<body>

<div align="center">

    <h1>Car Record</h1>
    <!-- Entry to the new page -->
<a herf = "new/">Enter new car</a>

  <table border="1" cellpadding="10">
      <!-- Table header -->
      <thead>
<tr>
    <th>Id pojazdu</th>
    <th>Marka</th>
    <th>Model</th>
    <th>Dostepny</th>
    <th>Rok produkcji</th>
    <th>Moc</th>
    <th>Rodzaj paliwa</th>
    <th>Typ</th>
    <th>Cena</th>
    <th>Akcje</th>

</tr>
      </thead>

<!-- Table body-->
<tbody>
  <tr th:each="car:${listCar}">
      <td th:text="${car.id_pojazdu}">id_pojazdu</td>
      <td th:text="${car.nazwa_marki}">marki</td>
      <td th:text="${car.nazwa_modelu}">model</td>
      <td th:text="${car.dostepny}">dostepny</td>
      <td th:text="${car.rok_produkcji}">Rok produkcji</td>
      <td th:text="${car.moc}">Moc</td>
      <td th:text="${car.rodzaj_paliwa}">Rodzaj paliwa</td>
      <td th:text="${car.typ}">Typ</td>
      <td th:text="${car.cena}">Cena</td>

  </tr>

  </tbody>



  </table>

    </div>

</body>
</html>